{% extends 'base.html' %}

{% block content %}
<h1> {{title}} </h1>
    <h2> San Jose State University </h2>
    <h3> CMPE 256 - Summer 2019 </h3>
    <h3> Aaron Lee - 009085596 </h3>
=============================================================================================================
    <form action = "recommend" method=post class="confirmform">

        {% csrf_token %}

        Car Manufacturer: <select name="manufacturer">
            <option value=None></option>
            <option value="acura">Acura</option>
            <option value="audi">Audi</option>
            <option value="bmw">BMW</option>
            <option value="buick">Buick</option>
            <option value="chevrolet">Chevrolet</option>
            <option value="dodge">Dodge</option>
            <option value="fiat">Fiat</option>
            <option value="ford">Ford</option>
            <option value="gmc">GMC</option>
            <option value="honda">Honda</option>
            <option value="hyundai">Hyundai</option>
            <option value="infiniti">Infiniti</option>
            <option value="jeep">Jeep</option>
            <option value="kia">Kia</option>
            <option value="lexus">Lexus</option>
            <option value="mazda">Mazda</option>
            <option value="subaru">Subaru</option>
            <option value="toyota">Toyota</option>
            <option value="volkswagen">Volkswagen</option>
        </select>
        <br>
        Vehicle Type: <select name="vehicle_type">
            <option value=None></option>`
            <option value="coupe">Coupe</option>
            <option value="convertible">Convertible</option>
            <option value="hatchback">Hatchback</option>
            <option value="minivan">Minivan</option>
            <option value="sedan">Sedan</option>
            <option value="suv">SUV</option>
            <option value="truck">Truck</option>
            <option value="van">Van</option>
            <option value="wagon">Wagon</option>
        </select>
        <br><br>
        Price: $<input type="text" name="price"><br><br>
        Select all important attributes you are looking for in a new vehicle<br>
        (Select all that apply):<br>

        <!-- Individual Checkboxes -->
        <input type="checkbox" name="comfort" value=1 id="comfort_box">Comfort</label><br>
        <input type="checkbox" name="driving" value=1 id="driving_box">Driving</label><br>
        <input type="checkbox" name="interior" value=1 id="interior_box">Interior</label><br>
        <input type="checkbox" name="tech" value=1 id="tech_box">Technology</label><br>
        <input type="checkbox" name="utility" value=1 id="utility_box">Utility</label><br>
        
        <input type="submit">


{% endblock %}

